# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# local data store
/data/store.json

# misc
.DS_Store

# debug
npm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
