# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.pid.lock

# Coverage
coverage
.nyc_output

# Dependencies
node_modules/

# Optional caches
.npm
.eslintcache

# dotenv
.env

# OS
.DS_Store
